<div class="footer-area ptb bg-footer parallax">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="am">
                    <div class="f-logo">
                        <img src="assets/img/logo/logo-2.png" alt="">
                    </div>
                    <div class="border-right"></div>
                </div>
            </div>
            <div class="col-lg-6 offset-1">
                <div class="f-content">
                    <div class="inner-content">
                        <div class="f-icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <span>College of Engineering Roorkee, Roorkee<br>Haridwar, UT 247667</span>
                    </div>
                    {{!-- <p>Regione meliore liberavisse vim ei. Et mei nusquam corpora<br> interesset. Mea zril
                        expetendis conclusionemque id, id per<br>saperet vituperatoribus, ei eam stet fabulas.
                        Ne pla.</p>
                    <div class="sub-btn">
                        <input type="text" placeholder="Your email address ">
                        <button type="submit">Subscribe</button>
                    </div> --}}
                    <div class="f-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-camera"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>