<div class="footer-area ptb bg-footer parallax">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="am">
                    <div class="f-logo">
                        <img src="/assets/img/logo/logo-white.png" width="300" alt="">
                    </div>
                    <div class="border-right"></div>
                </div>
            </div>
            <div class="col-lg-6 offset-1">
                <div class="f-content">
                    <div class="inner-content">
                        <div class="f-icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <span>College of Engineering Roorkee, Roorkee<br>Haridwar, UT 247667</span>
                    </div>
                    <p>For any enquiry mail to : <a
                            href="mailto:manthan.2019@disha-coer.in">manthan.2019@disha-coer.in</a></p>
                    <p>General Enquiry : <a href="tel:+918218706214">+918218706214</a> </p>
                    <p> Sponsorship enquiry : <a href="tel:+918218715497">+918218715497</a></p>
                    <div class="f-social">
                        <ul>
                            <li><a href="https://www.facebook.com/manthan.coer/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/disha_coer/"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>