<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{> assets}}

</head>

<body>
    <div class='loader'>
        <div class="logo-loader">
            {{!-- <img src="/assets/favicon.png"> --}}
        </div>
    </div>

    <noscript>
        <h1>Your browser is outdated and does not supports Javascript, just like this page.</h1>
    </noscript>
    <div class="main-container">
        {{> header}}
        {{{body}}}
        {{> footer}}
    </div>
    {{> scripts}}
</body>


</html>