<!--About Us Area Start Here-->
<div class="about-us-area pad-head bg-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-content">
                    <div class="section-title text-center">
                        <h2>About Us</h2>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>|</li>
                        <li>About us</li>
                    </ol>
                </div>
            </div>
            <!-- /col-->
        </div>
        <!-- /row-->
    </div>
    <!--/ container-->
</div>
<!--About Us Area End Here-->

<!--Conference Synopsis Area Start Here-->
<div class="conference-synopsis-area about pad100">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 xs-mb40">
                <img class="img-fluid" src="assets/img/others/element.png" alt="">
            </div>
            <div class="col-lg-7">
                <div class="inner-content">
                    <div class="section-title">
                        <div class="title-text pl">
                            <h2>About Conferences</h2>
                        </div>
                    </div>
                    <p>Has ad error facilisi. Cu lorem nemore abhorreant ius, ius ne veri elaboraret, ut pri euismod
                        accusata. Nec graeco dissentiet in, pri no graece posidonium definitionem. Solum numquam
                        scaevola eos eu, vel eu eius iriure aliquid, ne ius tale elitr.,</p>
                    <p>
                        Ea duis simul interpretaris eum, eu soluta accusamus complectitur duo. Duo an viris solet. His
                        no affert honestatis, nisl sanctus an sea. Sumo appareat mei ei, ad complectitur comprehensam
                        mel. Mucius aeterno definitiones at mel, cu vim causae inciderint, expetendis reformidans
                        dissentiunt mel ex. Nec probatus sensibus id, ei prima legendos periculis nec, aliquid
                        voluptaria cu has.</p>
                </div>
            </div>
            <!-- /col end-->
        </div>
        <!-- /row end-->
    </div>
    <!-- /container end-->
</div>
<!--Conference Synopsis Area End Here-->

<!--Whos Speaking Area Start Here-->
<div class="whos-speaking-area-two speakers bg-team pad100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <div class="title-text mb50">
                        <p>Lorem ipsum dolor sit amet, vix commune<br>comprehensam cnostrud repudi.</p>
                    </div>
                </div>
            </div>
            <!-- /col end-->
        </div>
        <!-- /.row  end-->
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                <div class="speakers xs-mb30">
                    <img class="img-fluid" src="assets/img/team/1.jpg" alt="trainer-img">
                    <div class="img-overlay">
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-camera"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-life-ring"></i></a></li>
                        </ul>
                        <h4 class="name"><a href="#">Philipp Lahm</a></h4>
                    </div>
                </div>
            </div>
            <!-- /col end-->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                <div class="speakers xs-mb30">
                    <img class="img-fluid" src="assets/img/team/2.jpg" alt="trainer-img">
                    <div class="img-overlay">
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-camera"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-life-ring"></i></a></li>
                        </ul>
                        <h4 class="name"><a href="#">Toni Duggan</a></h4>
                    </div>
                </div>
            </div>
            <!-- /col end-->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                <div class="speakers xs-mb30">
                    <img class="img-fluid" src="assets/img/team/3.jpg" alt="trainer-img">
                    <div class="img-overlay">
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-camera"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-life-ring"></i></a></li>
                        </ul>
                        <h4 class="name"><a href="#">Philipp Lahm</a></h4>
                    </div>
                </div>
            </div>
            <!-- /col end-->
            <div class="col-xl-3 col-lg-3 d-md-none d-lg-block col-sm-12">
                <div class="speakers">
                    <img class="img-fluid" src="assets/img/team/4.jpg" alt="trainer-img">
                    <div class="img-overlay">
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-camera"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-life-ring"></i></a></li>
                        </ul>
                        <h4 class="name"><a href="#">Lieke Martens</a></h4>
                    </div>
                </div>
            </div>
            <!-- /col end-->
        </div>
        <!-- /row end-->
        <div class="row mt30">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                <div class="speakers xs-mb30">
                    <img class="img-fluid" src="assets/img/team/3.jpg" alt="trainer-img">
                    <div class="img-overlay">
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-camera"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-life-ring"></i></a></li>
                        </ul>
                        <h4 class="name"><a href="#">Philipp Lahm</a></h4>
                    </div>
                </div>
            </div>
            <!-- /col end-->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                <div class="speakers xs-mb30">
                    <img class="img-fluid" src="assets/img/team/5.jpg" alt="trainer-img">
                    <div class="img-overlay">
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-camera"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-life-ring"></i></a></li>
                        </ul>
                        <h4 class="name"><a href="#">Fara Williams</a></h4>
                    </div>
                </div>
            </div>
            <!-- /col end-->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                <div class="speakers xs-mb30">
                    <img class="img-fluid" src="assets/img/team/6.jpg" alt="trainer-img">
                    <div class="img-overlay">
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-camera"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-life-ring"></i></a></li>
                        </ul>
                        <h4 class="name"><a href="#">Manuel Neuer</a></h4>
                    </div>
                </div>
            </div>
            <!-- /col end-->
            <div class="col-xl-3 col-lg-3 d-md-none d-lg-block col-sm-12">
                <div class="speakers">
                    <img class="img-fluid" src="assets/img/team/7.jpg" alt="trainer-img">
                    <div class="img-overlay">
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-camera"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-life-ring"></i></a></li>
                        </ul>
                        <h4 class="name"><a href="#">Manuel Neuer</a></h4>
                    </div>
                </div>
            </div>
            <!-- /col end-->
        </div>
        <!-- /row end-->
    </div>
    <!-- /container end-->
</div>
<!--Whos Speaking Area End Here-->

<!--Counter Up Area Start Here-->
<div class="counter-up-area pad100 bg-counter parallax">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3">
                <div class="single-counter xs-mb40">
                    <div class="count-content">
                        <span class="count">80</span>
                        <p>Countries</p>
                    </div>
                </div>
            </div>
            <!-- /col end-->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3">
                <div class="single-counter xs-mb40">
                    <div class="count-content">
                        <span class="count">120</span>
                        <p>Programs</p>
                    </div>
                </div>
            </div>
            <!-- /col end-->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3">
                <div class="single-counter xs-mb40">
                    <div class="count-content">
                        <span class="count">65</span>
                        <p>Speakers</p>
                    </div>
                </div>
            </div>
            <!-- /col end-->
            <div class="col-xl-3 col-lg-3 d-md-none d-lg-block col-sm-3">
                <div class="single-counter">
                    <div class="count-content">
                        <span class="count">30</span>
                        <p>Sponsors</p>
                    </div>
                </div>
            </div>
            <!-- /col end-->
        </div>
        <!-- /row end-->
    </div>
    <!-- /container end-->
</div>
<!--Counter Up Area End Here-->

<!-- Motivational Concepts	Area Start Here-->
<div class="motivational-concepts-area pad100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <div class="title-text mb50 fn">
                        <h2>Motivational Concepts</h2>
                    </div>
                </div>
            </div>
            <!-- /col end-->
        </div>
        <!-- /.row  end-->
        <div class="row">
            <div class="testimonial-active owl-carousel owl-theme">
                <div class="col-lg-12">
                    <div class="testimonial-wrapper">
                        <div class="inner-content">
                            <div class="test-img">
                                <img src="assets/img/testimonial/1.jpg" alt="">
                            </div>
                            <div class="test-client">
                                <strong>Jonson Roy</strong>
                                <span class="position">CEO & founder</span>
                            </div>
                        </div>
                        <div class="test-content">
                            <p>Lorem ipsum dolor sit amet, ea mei alia efficiendi. Usu ex paulo eripuit, eu vel ipsum
                                torquatos disputando. No mollis rationibus pri, cu est nisl atqui timeam. Ei eos accums
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="testimonial-wrapper">
                        <div class="inner-content">
                            <div class="test-img">
                                <img src="assets/img/testimonial/1.jpg" alt="">
                            </div>
                            <div class="test-client">
                                <strong>Billal Hossain</strong>
                                <span class="position">CEO & founder</span>
                            </div>
                        </div>
                        <div class="test-content">
                            <p>Lorem ipsum dolor sit amet, ea mei alia efficiendi. Usu ex paulo eripuit, eu vel ipsum
                                torquatos disputando. No mollis rationibus pri, cu est nisl atqui timeam. Ei eos accums
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col end-->
    </div>
    <!-- /.row end-->
</div>
<!-- /.container end-->
<!-- Motivational Concepts	End Start Here-->

<!--Contact Us Area Start Here-->
<div class="contact-us-area about pad-b100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="icon-box xs-mb30">
                    <div class="box-icons">
                        <img src="assets/img/others/2.png" alt="">
                    </div>
                    <div class="inner-content">
                        <h3>Conference Location</h3>
                        <p>Washington State Convention Center</p>
                        <p>705 Pike Street</p>
                        <p> 705 Pike Street Seattle, WA 98101</p>
                        <p>Phone: 206-694-5000</p>
                    </div>
                </div>
            </div>
            <!-- /col end-->
            <div class="col-lg-4 col-md-4">
                <div class="icon-box xs-mb30">
                    <div class="box-icons">
                        <img src="assets/img/others/3.png" alt="">
                    </div>
                    <div class="inner-content">
                        <h3>Hotel Information</h3>
                        <p>Sed minim feugiat quaestio ut. Erat singulist mei, eum reque ceteros omittantur ea. Cum
                            facilisi molestiae coaturqet, vim molestiae vitupe comp</p>
                    </div>
                </div>
            </div>
            <!-- /col end-->
            <div class="col-lg-4 col-md-4">
                <div class="icon-box">
                    <div class="box-icons">
                        <img src="assets/img/others/4.png" alt="">
                    </div>
                    <div class="inner-content">
                        <h3>Airport Information</h3>
                        <p>Washington State Convention Center</p>
                        <p>705 Pike Street</p>
                        <p> 705 Pike Street Seattle, WA 98101</p>
                        <p>Phone: 206-694-5000</p>
                    </div>
                </div>
            </div>
            <!-- /col end-->
        </div>
        <!-- /row end-->
    </div>
    <!-- /container end-->
</div>
<!--Contact Us Area End Here-->