<div class="about-us-area pad-head bg-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-content">
                    <div class="section-title text-center">
                        <h2>Speakers Single</h2>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li>|</li>
                        <li>Speakers Single</li>
                    </ol>
                </div>
            </div>
            <!-- /col-->
        </div>
        <!-- /row-->
    </div>
    <!--/ container-->
</div>
<!--About Us Area End Here-->

<!--Speakers Single Area Start Here-->
<div class="speakers-single-area pad100">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="speakers-img">
                    <img class="img-fluid" src="assets/img/team/8.jpg" alt="">
                </div>
            </div>
            <!-- /.col end-->
            <div class="col-lg-7 col-md-12">
                <div class="inner-content">
                    <h1>Harman Kardon</h1>
                    <span>CEO Mockplus</span>
                    <p>Lorem ipsum dolor sit amet, eum te antiopam consequat. Vix te fabellas salutandi accusamus. Id
                        soleat invenire pri, lorem quidam vis eu. Porro aliquip inimicus eam ne. Nam clita animal
                        adolescens ne. </p>
                    <p class="mb-0">Per volumus officiis adolescens ei, ut pro nulla prompta menandri. Eum movet
                        copiosae ea, eu his quodsi complectitur. Nam clita animal adolescens ne. Pri te elit tota
                        integre. Sea ut aliquam menandri tacimates, est quem molestiae et. Nec in menandri repudiandae.
                    </p>
                    <div class="social-icon">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-camera"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.col end-->
        </div>
        <!-- /.row end-->
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="speakers-img">
                    <img class="img-fluid" src="assets/img/team/9.jpg" alt="">
                </div>
            </div>
            <!-- /.col end-->
            <div class="col-lg-7 col-md-12">
                <div class="inner-content">
                    <h1>Toni Duggan</h1>
                    <span>GM, Pixelperfect</span>
                    <p>Lorem ipsum dolor sit amet, eum te antiopam consequat. Vix te fabellas salutandi accusamus. Id
                        soleat invenire pri, lorem quidam vis eu. Porro aliquip inimicus eam ne. Nam clita animal
                        adolescens ne. </p>
                    <p class="mb-0">Per volumus officiis adolescens ei, ut pro nulla prompta menandri. Eum movet
                        copiosae ea, eu his quodsi complectitur. Nam clita animal adolescens ne. Pri te elit tota
                        integre. Sea ut aliquam menandri tacimates, est quem molestiae et. Nec in menandri repudiandae.
                    </p>
                    <div class="social-icon">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-camera"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.col end-->
        </div>
        <!-- /.row end-->
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="speakers-img">
                    <img class="img-fluid" src="assets/img/team/10.jpg" alt="">
                </div>
            </div>
            <!-- /.col end-->
            <div class="col-lg-7 col-md-12">
                <div class="inner-content">
                    <h1>Manuel Neuer</h1>
                    <span>CEO, Spingboard</span>
                    <p>Lorem ipsum dolor sit amet, eum te antiopam consequat. Vix te fabellas salutandi accusamus. Id
                        soleat invenire pri, lorem quidam vis eu. Porro aliquip inimicus eam ne. Nam clita animal
                        adolescens ne. </p>
                    <p class="mb-0">Per volumus officiis adolescens ei, ut pro nulla prompta menandri. Eum movet
                        copiosae ea, eu his quodsi complectitur. Nam clita animal adolescens ne. Pri te elit tota
                        integre. Sea ut aliquam menandri tacimates, est quem molestiae et. Nec in menandri repudiandae.
                    </p>
                    <div class="social-icon">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-camera"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.col end-->
        </div>
        <!-- /.row end-->
    </div>
    <!-- /.container end-->
</div>
<!--Speakers Single Area End Here-->